#page-loading {
  //position: relative;
  width: 100vw;
  height: 100vh;
  background-color: var( --accent-color );
  transition: all 1s ease;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  &.loaded {
    opacity: 0;
    visibility: hidden;
  }
}
.spinner {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 5px;
  animation: loading 1.2s infinite ease-in-out;
  top: 50%;
  left: 50%;
  margin-top: -5px;
  margin-left: -5px;
}
@keyframes loading {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(4);
    opacity: 0;
  }
}

@media ( min-width: 40em ) {
  .p-global-nav .c-navbar__item > a {
    position: relative;
    span {
      position: relative;
      display: inline-block;
      //border-bottom: 1px solid var(--header-text-color,#333);
      &:after {
        position: absolute;
        content: '';
        border-bottom: 1px solid var( --accent-color );
        display: inline-block;
        width: 0;
        height: 1px;
        right: 0;
        bottom: -1px;
        transition: all 1s ease;
      }
    }
    small {
      position: absolute;
      display: inline-block;
      opacity: 0;
      transition: all 1s ease;
      right: calc(var(--_space, 1.76923rem)*0.25);
      bottom: 0;
    }

    &:hover {
      span {
        &:after {
          //border-bottom: 1px solid var( --accent-color );
          width: 100%;
        }
      }
      small {
        opacity: 1;
        right: calc(var(--_space, 1.76923rem)*0.75);
      }
    }
  }

  .l-1row-header__branding {
    padding-top: calc(var(--_space, 1.76923rem)*1);
    padding-bottom: calc(var(--_space, 1.76923rem)*1);
  }
}
